#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}

.logo {
  height: 8em;
}

.title {
  color: #e3dbdb;
  margin-left: -20px;
}

.spinning-logo {
  animation: logo-spin infinite 20s linear;
}

.main-content {
  display: block;
  padding-top: 150px; /* Adjust based on your navbar height */
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  color: white;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 100; /* Increase if needed */
}

.nav-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
}

.nav-links {
  display: flex; /* Makes the links align in a row */
  gap: 20px; /* Adds space between links */
  margin-right: 3em;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #d1d5db;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.note {
  position: relative;
  padding: 2em;
  margin: 1em;
  border-radius: 2em;
  background-color: #152c32;
  border: 1px solid #ccc;
}

.read-the-docs {
  color: #888;
}

.delete-icon {
  width: 30px;
  padding: 0.2em;
  border-radius: 2px;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff00;
  padding: 0; /* Remove default padding */
  margin-right: 13px;
  margin-top: 5px;
  border: 1px; /* Your desired border */
  display: inline-block; /* Shrink-wrap the content */
  line-height: 0; /* Remove extra inline spacing */
  background: none;
}

.filter-white {
  filter: invert(94%) sepia(94%) saturate(23%) hue-rotate(2deg) brightness(107%)
    contrast(105%);
}
