#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 0em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.spinning-logo {
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.note {
  position: relative;
  padding: 2em;
  margin: 1em;
  border-radius: 2em;
  background-color: #152c32;
  border: 1px solid #ccc;
}

.read-the-docs {
  color: #888;
}

.delete-icon {
  width: 30px;
  padding: 0.2em;
  border-radius: 2px;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff00;
  padding: 0; /* Remove default padding */
  margin-right: 13px;
  margin-top: 5px;
  border: 1px; /* Your desired border */
  display: inline-block; /* Shrink-wrap the content */
  line-height: 0; /* Remove extra inline spacing */
  background: none;
}

.filter-white {
  filter: invert(94%) sepia(94%) saturate(23%) hue-rotate(2deg) brightness(107%)
    contrast(105%);
}
